
nav{
    display: flex;
    background-color: black;
    color: white;

    ul{
        list-style: none;
        li{
            display: inline;
        }
    }
    
}

main{
    background-color: yellowgreen;
}



#destacados{
    img{
        max-width: 250px;
        max-height: 250px;
        margin: 15px;
    }

}

footer{
    background-color: chartreuse;
    height: 100px;
}