// --------------------- estilos comunes -------------------------
*{
    background-color: black;
}

header{
    nav {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
    
        background-color: rgb(0, 0, 0);
        
        a:hover {
            background-color: rgb(73, 73, 73);
            border-radius: 20px;
            padding-left: 10px;
            padding-right: 10px;
            color: rgb(212, 107, 128);
          }
    
        a{
            text-decoration: none;
            h1{
                color: white;
            }
            img{
                max-width: 75px;
            }
        }
    
          font-size: 18pt;
          ul {
            width: 100%; 
            margin: 0 auto; 
            display: flex;
            justify-content: center;
            
            li {
                display: inline-block;
                padding: 10px 15px;
    
                a{
                    color: white;
                    text-decoration: none;
                }
            }
          }
        
        .MiCine{
            color: white;
        }
    }
}

footer{//no funciona bien cuando le doy a inspeccionar

    padding: 30px;

    .footer-lineas {
        border: none;
        height: 7px;
        background-color: #ffffff;
      }

    i{
        font-size: 30px;
        color: #ffffff;
        margin-left: 90px;
    }

}

// ------------------------- index ----------------------

#main-index{
    // margin-top: 75px;
    background-color: black;
    color: white;
    text-align: center;

    .imgLogo{
        margin-top: 100px;
        margin-bottom: 25px;
        img{
            max-width: 100px;
        }
        
        h1{
            font-size: 100px;
        }
    }

    
    #destacados{
         background-image: url(/img/fondo-3.png);
         background-repeat: no-repeat; 
         background-size: cover;
         height: 100vh;

        h2{
            margin: 40px;
            font-size: 100px;
            border-radius: 20px;
            background-color: grey;
        }
        img{
            margin: 25px;
            max-width: 200px;
            max-height: 300px;
        }
    
    }
 
}




// ----------------- pagina productos-------------------------

#main-productos{
    text-align: center;
    padding: 75px;
    color: white;

    h1{
        margin-top: 25px;
        font-size: 75px;
        border-radius: 25px;
        background-color: cadetblue;
    }

    .productos{
        
        margin: 50px;
        
        img{
            max-width:175px;
            max-height: 175px;
        }

        h2{
            margin: 50px;
            border-radius: 25px;
            background-color: rgb(54, 97, 106);
        }
        
        .comida{
            
            // div{
            // background-color: rgb(13, 65, 66);
            // }
            // img{
            //     background-color: rgb(13, 65, 66);
            // }
        }
    }








}

// --------------------- pagina noticias ---------------------

#main-noticias{
    padding: 75px;
    color: white;
    text-align: center;

    h1{
        margin: 30px;
        background-color: cadetblue;
        border-radius: 25px;
    }

    img{
        max-width: 250px;
    }

    article{
        margin:75px;
        border-color: azure;
        border-style: dotted;
    }
}


// ---------------------- pagina turnos --------------------
#main-turnos{
    color: white;
    text-align: center;
    height: 88vh;
    h1{
        padding: 40vh;
    }
}


// ------------------------pagina quienes somos -------------
//no es responsive(?

#main-quienesSomos{
    padding: 75px;
    color: white;
    text-align: center;
    h1{
        padding: 30px;
        background-color: cadetblue;
        border-radius: 25px;
    }


    a:hover {
        background-color: rgb(73, 73, 73);
        border-radius: 20px;
        padding-left: 10px;
        padding-right: 10px;
      }

    ul {
        width: 100%; 
        margin: 0 auto; 
        display: flex;
        justify-content: center;
        li {
            display: inline-block;
            padding: 10px 15px;

            a{
                color: white;
                text-decoration: none;
                font-size: 25px;
            }
        }
      }

      section{
        min-height: 40vh;
        margin: 75px;
        border: 3px solid rgb(255, 255, 255);

        h2{
            background-color: darkcyan;
            padding: 13px;
        }

        p{
            font-size: 25px;
            margin-top: 50px;
            padding: 15px;
        }
      }
}

// -------------------------- pagina contactos ----------------

#main-contactos{

    color: white;
    text-align: center;
    padding-bottom: 60px;
    
    h1{
        margin: 75px;
        padding: 25px;
        background-color: cadetblue;
        border-radius: 25px;
    }

    form{
        div{
        font-size: 25px;
        background-color: #3b5769;
        padding:10px;
        border-radius: 55px;
        span{
            background-color: #3b5769;
            padding:10px;
            color: white;
        }
        }
        input{
            color: white;
        }
        textarea{
            color: white;
            height: 200px;
            width: 500px;
        }
    }
}

